.footnote-back-reference {
  color: inherit;
  text-align: left;
  cursor: pointer;
}

.footnote-back-reference svg {
  width: 12px;
  height: 12px;
}

.footnote-back-reference a {
  color: #6b7280;
}

.footnote-back-reference button:hover {
  opacity: 0.8;
}

.footnote-forward-reference {
  min-width: 14px;
  min-height: 14px;
  margin-left: 1px;
  color: var(--color-iris-10);
  cursor: pointer;
}
