.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20rem;
  padding: 1.5rem;
  margin: 1.75rem 0 0;
  border: 1px solid var(--border);
}

.preview[data-with-codeblock='true'] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.preview[data-with-codeblock='true'] + figure {
  margin-top: 0;
  margin-bottom: 1.75rem;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.preview[data-with-codeblock='true'] + figure pre {
  margin: 0;
  padding: 1rem 0;
}
