.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 20rem;
  padding: 1.5rem;
  margin-top: 0.25rem;
  border: 1px solid var(--border, #e5e7eb);
  border-radius: 0.5rem;
}

.preview[data-with-codeblock='true'] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.preview[data-with-codeblock='true'] + figure {
  margin-top: 0;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:global(.dark) .preview {
  border-color: #374151;
}
